// .form-group
$form-group-margin-bottom: 0;

// .form-control
$input-border-color: grey;
$input-focus-border-color: #39bbcf;
$input-focus-box-shadow: none;
$input-padding-x: 0.5rem;
$input-padding-y: 0.75rem;
$input-border-radius: 0;
$input-color: #000;

// <label />
$label-margin-bottom: 0;

@import '../../../node_modules/bootstrap/scss/bootstrap';

.Input {
    position: relative;

    &__label {
        position: absolute;
        top: 0.75rem;
        left: 0.5rem;
        color: grey;
        background: #FFF;
        transition: .2s all;

        &--active {
            transform: translateY(-1.15rem);
            font-size: 0.75rem;
        }
    }
}
